@import "tailwindcss";

@theme {
  --color-primary: #1e3a1e; /* Forest green original */
  --color-bar: #7A6051; /* El color sugerido para la barra */
  --color-asap-text: #E1D7D1; /* El color para el texto Asap */
  --color-comprar: #DA7D01; /* El color sugerido para el botón comprar */
  --color-secondary: #d1b48c; /* Sand/Gold original */
  --color-brand-900: #061006;
  --color-brand-800: #0d210d;
}

html, body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

html::-webkit-scrollbar, 
body::-webkit-scrollbar {
  display: none !important; /* Chrome, Safari, Opera */
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-slate-950 text-slate-100 antialiased;
  }
}